<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>





<body>

    <form method="post">

        <label for="function-name">select function:</label>

        <select type="submit" name="select_function">
            <option value="{{function_list[0]}}" selected>{{function_list[0]}}</option>
            {% for function in function_list[1:] %}
            <option value="{{function}}">{{function}}</option>
            {% endfor %}
        </select>



        <button type="submit" name="go_to" value="STKMOVE">STKMOVE</button>
        <button type="submit" name="go_to" value="EQMOVE">EQMOVE</button>

    </form>
    <!--
        {% if str1=="STKMOVE" %}
        <p>send STKMOVE Function</p>
        {% elif str1=="EQMOVE" %}
        <p>send EQMOVE Function</p>
        {% endif %}
    -->

</body>

</html>

</body>

</html>